<h1>Registrate</h1>

<form action="/user/register" method="post">
    <label for="username">Nombre usuario</label>
    <input required type="text" min="8" name="username">


    <label for="password">Password</label>
    <input required type="password" min="8" name="password">

    <button type="submit">Crear</button>
</form>